<div class="ui grid">
  <div class="twelve wide column">
    {{outlet}}
  </div>

  <div class="four wide column" >
  
    <h3>Hashtags <a href="/tweets">Tweet Map</a></h3> 


  <div class="ui secondary vertical menu" id="username-list">
    {{#each hashtag in controller}}
      <div class="item">{{hashtag.count}} - #{{hashtag.text}}</div>
    {{/each}}
  </div>
</div>
