<div class="ui grid">
  <div class="twelve wide column">
    {{outlet}}
  </div>

  <div class="four wide column" >
    <h3>Tweets <a href="/hashtags">Hashtag Map</a></h3>
    
    <div class="ui secondary vertical menu" id="username-list">
    {{#each tweet in model}}
      {{!-- {{#link-to "tweets.show" tweet.id classNames="item"}}
        {{tweet.text}}
      {{/link-to}} --}}

        <a {{action "panToPin" tweet}} class="item"> {{tweet.text}} </a>
    {{/each}}
  </div>
</div>
