<h1>Tweets</h1>
<button {{action "testClick" }} >CLICK</button>

<ul>
  {{#each tweet in model}}
    <li>
      {{tweet.text}} - 

      {{#each hashtag in tweet.hashtags}}
        {{hashtag.text}}
      {{/each}}
    </li>
  {{/each}}
</ul>

<div id='map'></div>
{{outlet}}
